@forward "../base/index";
@use '../util/index';

#about{
    padding: 80px 0;
    background: url(../../images/about_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about_left{
    width: 244px;
    border-radius: 10px;
    padding: 25px;
    background: #fff;
    margin-top: 30%;
    p{
        font-size: 16px;
        font-weight: 500;
        font-family: index.$inter;
        color: index.$secondary_color;
    }

}
.about_right{
    width: 560px;
    border-radius: 20px;
    background: #fff;
    padding: 57px 45px 40px 45px;
    .about_right_text{
        h2{
            font-size: 40px;
            font-weight: 600;
            font-family: index.$inter;
            color: #000;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            font-family: index.$inter;
            color: #000;
            line-height: 30px;
            margin:30px 0;
        }
    }
    .about_button{
        a{
            padding: 20px 40px;
            background: index.$primary_color;
            border-radius: 30px;
            font-size: 20px;
            font-weight: 500;
            font-family: index.$inter;
            letter-spacing: .5px;
            color: #fff;
        }
    }
}